.admin-side-bar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
}

.main-menu-container  {
    padding: 0 20px;
    margin: 20px 0;
    z-index: 1;
    height: calc(100vh - 40px);
    border-right: 1px solid #e4e4e4;
}
.logo-admin {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.logo-admin img {
    width: 150px;
}
.main-menu-container .menu-item.active,
.main-menu-container .menu-item:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(0, 167, 220);
}
.main-menu-container .menu-item {
    padding: 10px;
    border: 1px solid rgb(217, 217, 217);
    transition: all 0.2s ease 0s;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.main-menu-container .menu-item .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin-right: 5px;
}
.main-menu-container .menu-item span {
    font-size: 17px;
}
.sup-menu-item {
    padding: 10px;
    transition: all 0.2s ease 0s;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.sup-menu-item.active,
.sup-menu-item:hover {
    color: rgb(0, 167, 220);;
}