.modal-dialog{
    max-width: 1300px!important;
}
.show-image-modal{
    z-index: 2000!important;
}
.answer-total {
    border: solid 1px black;
    margin-top: 60px;
    padding: 10px;
}
.answer {
    margin-bottom: 30px;
    border: solid #121212 1px;
    border-radius: 10px;
    min-height: 80px;
    padding: 10px;
    position: relative;
    z-index: 1;
}
.answer-description {
    margin-bottom: 20px;
}
.agree {
    margin-right: 40px;
    font-size: 10px;
}
.delete {
    font-size: 10px;
}
.done {
    background-color: #28A745;
    font-size: 10px;
    color: #fff;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}
.date-time {
    margin-bottom: 10px;
}
.date {
    font-weight: bold;
}
.filter-answer {
    margin-bottom: 20px;
}
.mode-form {
    display: flex;
    align-items: center;
}
.form-control-answer {
    width: unset !important;
}
.label-answer {
    margin-bottom: 0px;
    font-weight: bold;
    margin-right: 10px;
}
.answer-number {
    font-weight: bold;
    margin-bottom: 10px;
}
.action-group .icon {
    padding: 5px;
    margin-right: 5px;
    transition: all 0.1s ease 0s;
    border-radius: 4px;
    cursor: pointer;
}
.action-group .icon:hover {
    background-color: #8a8787;
}