.modal-dialog{
    max-width: 1300px!important;
}
.show-image-modal{
    z-index: 2000!important;
}
.select-time {
    display: flex;
    justify-content: space-between;
}
.start-time {
    height: 40px;
    display: flex;
    align-items: center;
}
.end-time {
    height: 40px;
    display: flex;
    align-items: center;
}
.start-label, .end-label {
    margin-bottom: 0;
}
.users {
    padding: 20px;
    border: solid 1px black;
}
.user {
    border: solid #ddd 1px;
    height: 140px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
}
.user-number {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.user-info {
    display: grid;
}
.agree {
    margin-right: 40px;
    font-size: 10px;
}
.delete {
    font-size: 10px;
}
.done {
    background-color: #28A745;
    font-size: 10px;
    color: #fff;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}
.filter-user {
    margin-bottom: 20px;
}
.mode-form {
    display: flex;
    align-items: center;
}
.form-control-user {
    width: unset !important;
}
.label-user {
    margin-bottom: 0px;
    font-weight: bold;
    margin-right: 10px;
}
.user-total {
    font-weight: bold;
    margin-bottom: 10px;
}
.action-group .icon {
    padding: 5px;
    margin-right: 5px;
    transition: all 0.1s ease 0s;
    border-radius: 4px;
    cursor: pointer;
}
.action-group .icon:hover {
    background-color: #8a8787;
}