.modal-dialog{
    max-width: 1300px!important;
}
.show-image-modal{
    z-index: 2000!important;
}
.select-time {
    display: flex;
    justify-content: space-between;
}
.start-time {
    height: 40px;
    display: flex;
    align-items: center;
}
.end-time {
    height: 40px;
    display: flex;
    align-items: center;
}
.start-label, .end-label {
    margin-bottom: 0;
}
.users {
    padding: 20px;
    border: solid 1px black;
}
.user {
    border: solid #ddd 1px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}
.user-number {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.user-info {
    display: grid;
}