.search-result {
  position: relative;
  /* width: 1400px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 70px;
  column-gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
}
