.hashtag {
    width: 250px;
    float: right;
    margin-bottom: 100px;
}
.identification {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}