.admin-table {
  overflow-x:auto;
}
.admin-table table {
  /* width: 1500px; */
  /* border-collapse: collapse;
  border-spacing: 0; */
  width: 100%;
  border-collapse: collapse;
}

.admin-table table td,
.admin-table table th {
  border: 1px solid #ddd;
  padding: 16px;
}

.admin-table table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-table table tr:hover {
  background-color: #ddd;
}

.admin-table table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}